/* @font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
} */

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: rgb(146, 40, 40);
}

.header-box{
    width: 650px;
    text-align: center;
    /* float: center; */
    margin-top: 20px;
    margin-left: 33%;
    margin-right: auto;
    position: fixed;
}

nav{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    text-align: center;
}
  
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    display: inline-block;
    padding: 15px 30px;
    position: relative;
}
  
nav a {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
}
  
nav a:hover {
    color:rgb(0, 0, 0);
}
  
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color:rgb(0, 0, 0);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav .current{
    font-weight: bold;
}

#home{
    height: 1010px;
    display: inline-block;
    width: 100%;
    background-image: url("/images/mountiainn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.home_description{
  
    padding: 260px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    /* float: center; */
}


.name{
    font-family: 'Arvo', serif;
    font-size: 95px;
    color: white;
    /* padding-bottom: 20px; */
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 3s steps(12,end) forwards, blink 1s infinite;
}

@keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid rgb(0, 0, 0);
    }
}

.words{
    color: white;
    text-align: center;
    font-family: 'Space Mono', monospace;
    padding-bottom: 15px;
}

.social-menu{
    margin-left: 29%;
    float: center;
    margin-right: auto;
    /* margin-left: auto; */
}

.social-menu ul li {
    list-style: none;
    float: left;
    margin: 0 10px;

}

/* sizes and color */
.social-menu ul li .fa {
    color: #ffffff;
    font-size: 30px;
    line-height: 50px;
    transition: .5s;
}

/* HOVERING */
.social-menu ul li .fa:hover {
    color: #172833;
}


#about{
    height: 1010px;
    display: inline-block;
    width: 100%;
    background-image: url("/images/mountiainn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#projects{
    height: 1010px;
    display: inline-block;
    width: 100%;
    background-color: rgb(194, 22, 22);

}

#contact{
    height: 1010px;    
    display: inline-block;
    width: 100%;
    background-color: rgb(54, 6, 6);

}
/* FOR LAPTOPS */
@media screen and (max-width: 1500px){
    html{
        font-size: small;
    }
    #home{
        height: 830px;
        display: inline-block;
        width: 100%;
        background-image: url("/images/mountiainn.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header-box{
        width: 650px;
        text-align: center;
        float: center;
        margin-top: 20px;
        margin-left: 28%;
        margin-right: auto;
        position: fixed;
    }

    .home_description{
        padding: 220px;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        /* float: center; */
    }

    .name{
        font-family: 'Arvo', serif;
        font-size: 72px;
        color: white;
        margin:0px;
        white-space:nowrap;
        overflow:hidden;
        animation:typing 3s steps(12,end) forwards, blink 1s infinite;
    }

    .words{
        color: white;
        text-align: center;
        font-family: 'Space Mono', monospace;
        padding-bottom: 1px;
    }

    .social-menu{
        margin-left: 29%;
        float: center;
        margin-right: auto;
        /* margin-left: auto; */
    }

    #about{
        height: 795px;
        display: inline-block;
        width: 100%;
        background-image: url("/images/mountiainn.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    #projects{
        height: 795px;
        display: inline-block;
        width: 100%;
        background-color: rgb(194, 22, 22);
    
    }
    
    #contact{
        height: 795px;
        display: inline-block;
        width: 100%;
        background-color: rgb(54, 6, 6);
    
    }
}