html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    /* font-family: Arial; */
    /* background-color: rgb(146, 40, 40); */
}

.header-box{
    
    /* float: center; */
    /* margin-top: 20px;
    margin-left: 33%; */
    /* margin-right: auto; */
    /* position: fixed; */
    /* top: 50%;*/
    width: 650px;
    text-align: center;
    top: 5%;
    float: none;
    position: fixed;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

nav{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    text-align: center;
}
  
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    display: inline-block;
    padding: 15px 30px;
    position: relative;
}
  
nav a {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
}
  
nav a:hover {
    color:rgb(117, 97, 9);
}
  
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color:rgb(0, 0, 0);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav .current{
    font-weight: bold;
}

#home{
    height: 1010px;
    display: inline-block;
    width: 100%;
    background-image: url("/images/mountiainn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.home_description{
    padding: 350px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    /* float: center; */
}


.name{
    font-family: 'Arvo', serif;
    font-size: 95px;
    color: white;
    /* padding-bottom: 20px; */
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(12,end) forwards, blink 1s infinite;
}

@keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid rgb(0, 0, 0);
    }
}

.words{
    color: white;
    text-align: center;
    font-family: 'Space Mono', monospace;
    padding-bottom: 15px;
}

.social-menu{
    margin-left: 23%;
    float: center;
    margin-right: auto;
    /* margin-left: auto; */
}

.social-menu ul li {
    list-style: none;
    float: left;
    margin: 0 30px;

}

/* sizes and color */
.social-menu ul li .fa {
    color: #ffffff;
    font-size: 30px;
    line-height: 50px;
    transition: .5s;
}

/* HOVERING */
.social-menu ul li .fa:hover {
    color: #172833;
}


#about{
    min-height: 100vh;
    display: inline-block;
    width: 100%;
    background-color: #1B1C2B;
}
 
.about_body{
    margin-left:25%;
    margin-right: 25%;
}

.about_header{
    font-family: 'Lato', sans-serif;
    color: #E94B3C;
    font-size: 45px;
    margin-top: 110px;
    margin-bottom: 5%;
    text-align: center;
}

.about_description{
    margin-top: 60px;
}

.circle_image{
    border-radius: 50%;
    float: left;
    margin-right: 40px;
}

.aboutme{
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
}

.about_bottom{
    font-size: 18px;
    color: white;
}

.about_overview{
    font-family: 'Lato', sans-serif;
    width: 30%;
    padding: 10px 0;
    float: left;
    min-height: 45vh;
}

.about_skills{
    font-family: 'Lato', sans-serif;
    width: 30%;
    padding: 10px 10px;
    float: left;
    min-height: 45vh;
}

.about_other{
    font-family: 'Lato', sans-serif;
    width: 30%;
    padding-left: 50px;
    padding-top: 10px ;
    /* padding: 10px 10px; */
    float: left;
    min-height: 45vh;
}


a.button {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border-style: solid;
    border-radius: 10px;
    /* background-color: rgb(0, 238, 178); */
    background-color: rgb(255, 196, 0);

    text-decoration: none;
    color: initial;
    padding: 10px;
    margin-left:auto;
    margin-right: 20px;
    width: 125px;
    text-align: center;
}



.skills_title{
    font-weight: bold;
    color: #E94B3C;
    font-size: larger;
}

.about_type{
    font-weight: bold;
    color: #6A6363;
}

.about_resume{
    color: white;
}

#projects{
    /* height: 1010px; */
    min-height: 100vh;
    display: inline-block;
    width: 100%;
    background-color: #798E8E;

}

.projects_body{
    margin-left:25%;
    margin-right: 25%;
}

.projects_header{
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: 45px;
    margin-top: 90px;
    /* margin-bottom: 5%; */
    text-align: center;
}

.projects_box{
    width: 100%;
    float: center;
}

.small_display{
    width: 25%;
    height: 150px;
    padding: 10px 0;
    float: left;
}


.inside_small, .inside_small_BDB{
    width: 85%;
    height: 100%;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    margin-right: auto;
    margin-left: auto;
    float: center;
}

.inside_small_BDB :hover{
    width: 100%;
    border-radius: 50px;
    /* width: 85%; */
    height: 100%;
    background-color: rgba(136, 136, 136, 0.322)
}

.inside_small :hover{
    width: 100%;
    border-radius: 50px;
    /* width: 85%; */
    height: 94%;
    background-color: rgba(136, 136, 136, 0.322)
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center_cb{
    display: block;
    padding-top: 6%;
    margin-left: auto;
    margin-right: auto;
}

.projects_box_title{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
}

.large_display{
    font-family: 'Lato' , sans-serif;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    float: center;
    margin-top:19%;
    width: 58%;
    height: 42vh;
    border-radius: 15px;
    /* padding-top: 2%; */
}

.project_galleryD{
    /* background-color: rgb(255, 255, 255); */
    background-image: url("/images/Booking\ Airline/01.png");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 90%;
    width: 40%;
    margin-left: 2%;
    color: rgb(243, 0, 0);
    transform: translate(0, 5%);
    float: left;
}

/* .project_gallery :hover{
    background-color: rgba(255, 0, 0, 0.452);
} */

.project_galleryB{
    /* background-color: rgb(255, 255, 255); */
    background-image: url("/images/Booking\ Airline/01.png");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 90%;
    width: 40%;
    margin-left: 2%;
    color: rgb(243, 0, 0);
    transform: translate(0, 5%);
    float: left;
}


.project_galleryC{
    /* background-color: rgb(255, 255, 255); */
    background-image: url("/images/Booking\ Airline/01.png");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 90%;
    width: 40%;
    margin-left: 2%;
    color: rgb(243, 0, 0);
    transform: translate(0, 5%);
    float: left;
}


.project_galleryP{
    /* background-color: rgb(255, 255, 255); */
    background-image: url("/images/Booking\ Airline/01.png");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 90%;
    width: 40%;
    margin-left: 2%;
    color: rgb(243, 0, 0);
    transform: translate(0, 5%);
    float: left;
}


.gallery_thumbnail{
    width: 100%;

}

.project_description{
    /* background-color: red; */
    float:right;
    height: 90%;
    width: 55%;
    margin-right: 1.5%;
    /* transform: translate(0, 1%); */
    color: white;
}

.large_title{
    font-size: 20px;
    color: #FFB800;
    font-weight: bolder;
}

.pd_type{
    font-size: 14px;
    font-weight: bold;
    color: #6A6363;
}

#Default{
    display: block;
}

#Booking{
    display: none;
}

#College{
    display: none;
}

#Personal{
    display: none;
}

#WebS{
    display: none;
}
/* CONTACT */

#contact{
    height: 300px;
    display: inline-block;
    width: 100%;
    background-color: #136F63;

}
/* FOR LAPTOPS */
@media screen and (max-width: 1500px){
    html{
        font-size: small;
    }
    #home{
        min-height: 100vh;
        display: inline-block;
        width: 100%;
        background-image: url("/images/mountiainn.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home_description{
        padding: 290px;
        width: 33%;
        margin-left: auto;
        margin-right: auto;
        /* float: center; */
    }

    .name{
        font-family: 'Arvo', serif;
        font-size: 72px;
        color: white;
        margin:0px;
        white-space:nowrap;
        overflow:hidden;
        animation:typing 3s steps(12,end) forwards, blink 1s infinite;
    }

    .words{
        color: white;
        text-align: center;
        font-family: 'Space Mono', monospace;
        padding-bottom: 5px;
    }

    .social-menu{
        margin-left: 10%;
        float: center;
        margin-right: auto;
        /* margin-left: auto; */
    }

    #about{
        min-height: 100vh;
        display: inline-block;
        width: 100%;
        background-color: #1B1C2B;
    }
    
    .about_header{
        margin-top: 90px;
        margin-bottom: 5%;
        font-size: 40px;
    }

    .about_description{
        margin-top: 50px;
    }

    .aboutme{
        font-size: 16px;
    }

    .about_bottom{
        font-size: 16px;
        color: white;
    }

    #projects{
        min-height: 100vh;
        display: inline-block;
        width: 100%;
        /* background-color: white; */
        background: #798E8E;

        
    }
    
    #contact{
        min-height: 300px;
        display: inline-block;
        width: 100%;
        background-color: #136F63;
    }
}


/* MODAL */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }