/* @font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
} */

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: rgb(146, 40, 40);
}


.container {
    width: 100%;
    margin: 0 auto;
}
  /* ibm-plex-serif-regular - latin */

nav{
    /* font-family: Verdana, Geneva, sans-serif; */
    /* font-family: 'Varela', sans-serif; */
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-weight: 400px; */
    font-size: 18px;
    text-align: center;
}
  
  
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    display: inline-block;
    padding: 15px 30px;
    position: relative;
}
  
nav a {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
}
  
nav a:hover {
    color:rgb(0, 0, 0);
}
  
nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color:rgb(0, 0, 0);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}
  
nav a:hover::before {
    width: 55%;
}

nav .current{
    font-weight: bold;
}

.header-box{
    border-radius: 100px;
    position: relative;
    /* background-color: rgba(255, 255, 255, 0.795); */
    width: 650px;
    float: center;
    margin: auto;
    margin-top: 20px;

}

#home{
    height: 972px;
    display: inline-block;
    width: 100%;
    background-image: url("/images/mountiainn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.home_description{
  
    padding: 140px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    /* float: center; */
}

/* h1{
    font-family: 'Arvo', serif;
    font-size: 75px;
    color: white;
    text-align: left;
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 3s steps(12,end) forwards, blink 1s infinite;
} */


.home_header{
    font-family: 'Arvo', serif;
    font-size: 40px;
    color: white;
    text-align: left;
    
}
.name{
    font-size: 95px;
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 3s steps(12,end) forwards, blink 1s infinite;
}

@keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid rgb(0, 0, 0);
    }
}

#about{
    height: 972px;
    display: inline-block;
    width: 100%;
    background-image: url("/images/mountiainn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#projects{
    height: 972px;
    display: inline-block;
    width: 100%;
    background-color: rgb(194, 22, 22);

}

#contact{
    height: 972px;
    display: inline-block;
    width: 100%;
    background-color: rgb(54, 6, 6);

}
/* FOR LAPTOPS */
@media screen and (max-width: 1500px){
    #home{
        height: 795px;
        display: inline-block;
        width: 100%;
        background-image: url("/images/mountiainn.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #about{
        height: 795px;
        display: inline-block;
        width: 100%;
        background-image: url("/images/mountiainn.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    
    #projects{
        height: 795px;
        display: inline-block;
        width: 100%;
        background-color: rgb(194, 22, 22);
    
    }
    
    #contact{
        height: 795px;
        display: inline-block;
        width: 100%;
        background-color: rgb(54, 6, 6);
    
    }
}